language: java
jdk:
- oraclejdk8
addons:
  sonarqube: true
env:
  global:
  - secure: "QixJKj81DCpc6m3Ucpg4zZJ9IowlPzp1aM3bxpYnX+9aHkpUMJdFYz4VnKoLdOFJO0BDK6TFnZLyUso5KzKjCdSd06PZmiN5hBEPiuwaOUe8NH0tJkaUZdq7vFRjk4yJBZeTiZc8LKNo92H5LBVhfI1qvj/mpk9uFzRrFutnxGNCynjVuIzNaZ2G3RAbPPe56t5gzt6fBfDqSHqp7tBAVZPyABwnJ+1eW0sosNm06lVOGs5xPZ3Mg1EdFdX26nUdgoO8Ex1WDJAphjYoeDFJMY/fMf8QbYhsXHF/z0tkF4j24DqhHAQ5cVlXxJZc7WfdygrgSrjLNOJKkP/AJsgtWLsKoQZ3X26mwdAbY9V0wY7enrZKiuLMPFmyQbS67yxAzUW+2DMrWX5fi1EK9IGv8wyAoyYq67cvADfCGvcM3ffZVloGNAt4B1lq61+HGFiN8e6fmQLP+pKeG+KorK3C13FcoLxLpC7wTvRRhr/9HUwo/uKCr+6FFWxRzTnzUEhj8rymCCn3ifpFFK+tOVTrp0eDpbmNagsO8qeoxcjBfTAHtZle7ZLPE7XzbNpGa9H+1ueIRbgRSI43NC82vUiQ16oYqoGavM2GWNbpwS6pTwIE2ie5ofeElPWKWzJ1eA1f8ZnyZMPKgXQTmotDFsAYReskWVaNoJUwBG7Lo6lwnu0="
script:
- ./gradlew sonarqube -Dsonar.login=$SONAR_TOKEN
